<div class="container-fluid main_menu">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">

            <!-- Navigation section start -->
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/register"><i class="fa-solid fa-snowflake"></i> GoS Form <i
                        class="fa-solid fa-snowflake"></i></a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Registeration</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/uploadFiles">File Upload</a>

                        </li>
                    </ul>
                </div>

            </nav>

            <!-- Navigation section end -->

        </div>
    </div>
</div>